
<% if @type.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul>
            <% @type.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<%= form_with(model: [ :admins_ativo, @type ], local: true ) do |form| %>

  <div class="form-group">
    <%= form.label :type %> <br>
    <%= form.text_field :description, class:"form-control bg-light border-6 small" %>
  </div>

  <button type="submit" class="btn btn-sm btn-primary">Salvar</button>

<% end %>
