
<h5>Vinculo</h5>

<div>
  <label class="form-group">user</label>
    <div class="form-control bg-light border-6 small" disabled="disabled">
</div>

<div>
  <label class="form-group">area</label>
    <div class="form-control bg-light border-6 small" disabled="disabled">
</div>

<div>
  <label class="form-group">setor</label>
    <div class="form-control bg-light border-6 small" disabled="disabled">
</div>

<hr>

<h5>Ativos Vinculados</h5>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>tombo</th>
      <th>description</th>
      <th>condition</th>
      <th>situation</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>
